<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.catoy.docmanagement.mapper.DocInfoMapper">
    <resultMap id="DocInfoMap" type="top.catoy.docmanagement.domain.DocInfo">


    </resultMap>

</mapper>