<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.catoy.docmanagement.mapper.UserMapper">

    <resultMap id="UserMap" type="top.catoy.docmanagement.domain.User">
        <id column="user_id" property="userId"></id>
        <result column="user_name" property="userName"></result>
        <result column="user_password" property="userPassword"></result>
        <result column="department_id" property="departmentId"></result>
        <result column="user_lock" property="userLock"></result>
        <result column="group_id" property="groupId"></result>

    </resultMap>

    <select id="getUserByName" parameterType="String" resultMap="UserMap">
        SELECT * FROM user WHERE user_name= #{userName}
    </select>

    <select id="getAllUsers" resultMap="UserMap">
        SELECT * FROM user
    </select>

</mapper>